$primary-color-black: #323232;
$primary-color-silver: #afafaf;
$primary-color-white: #ffffff;
$secondary-color-black: #000000;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;
$tertiary-color-red: #d22d2d;
