.page-header__style {
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  position: absolute;
  z-index: 100;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .page-header__style {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
}

.section-header__padding {
  padding: 1rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .section-header__padding {
    padding: 1rem 0 2.25rem 0;
  }
}

.section-header--black {
  color: #323232;
}

.section {
  background-color: #323232;
}

.section__navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  list-style-type: none;
  color: #ffffff;
  padding: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .section__navbar {
    flex-direction: row;
    padding: 2.25rem 0 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section__navbar {
    padding: 2.25rem 0 2.25rem 5rem;
    width: 66%;
  }
}

.section__list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.5rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .section__list {
    width: 50%;
    padding: 0;
  }
}

.section__hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  grid-gap: 1.5rem;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section__hero h1 {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
    z-index: 100;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .section__hero h1 {
    margin-left: 4.5rem;
  }
}

.section__hero img {
  width: 100%;
  opacity: 0.5;
}

.main-section {
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main-section {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-section {
    padding: 3rem 5rem 2.25rem 5rem;
  }
}

@media screen and (min-width: 768px) {
  .description-flex {
    padding: 0 4rem 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .description-flex {
    padding: 0 7.5rem 0 7.5rem;
  }
}

@media screen and (min-width: 768px) {
  .body-copy {
    display: flex;
  }
}

.main-section__gallery {
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .main-section__gallery {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main-section__gallery-container {
    display: grid;
    gap: 0.063rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main-section__gallery img {
  padding: 0.75rem 0 0.125rem 0;
}
@media screen and (min-width: 768px) {
  .main-section__gallery img {
    padding: 0.625rem;
  }
}

.subheader__description p {
  padding: 1rem 0 0 0;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .subheader__description p {
    padding: 2.25rem 0 0.5rem 0;
  }
}

.subheader__heading {
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .subheader__heading {
    padding: 3rem 0 2rem 0;
  }
}

.subheader p {
  color: #323232;
}

@media screen and (min-width: 768px) {
  .body-copy p {
    padding: 0 2rem 0 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .body-copy p {
    padding: 0 1.5rem 0 0;
  }
}

.main-section__comments {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-section__comments-container {
    padding: 0 4rem 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-section__comments-container {
    padding: 0 15rem 0 15rem;
  }
}

.main-section__commentbox-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-section__top-panel {
  display: flex;
  padding: 1rem 0 1rem 0;
}

.main-section__bottom-panel {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3.1rem;
  width: 100%;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .main-section__bottom-panel {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-section__bottom-panel {
    margin-left: 6.75rem;
  }
}

.comment-box {
  display: flex;
  justify-content: flex-start;
  background-color: #fafafa;
  border-color: #e1e1e1;
  border-radius: 0.25rem;
  border-width: 0.063rem;
  padding: 0.75rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comment-box {
    height: 3rem;
    padding: 1rem;
  }
}

.comment-box__comment {
  height: 7.5rem;
}

.comment-box:active {
  border-color: #323232;
}

.comment-box:invalid {
  border-color: #d22d2d;
}

.comment {
  background-color: #323232;
  color: #ffffff;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
}

.comment-button {
  padding-top: 1rem;
  width: 100%;
  height: 40%;
}

.comment:hover {
  background-color: #afafaf;
}

input::-moz-placeholder {
  position: absolute;
}

input:-ms-input-placeholder {
  position: absolute;
}

input::placeholder {
  position: absolute;
}

.description-comment {
  height: 100px;
  width: 100px;
}

.existing-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.existing-description {
  word-wrap: break-word;
}

.comment-container {
  display: flex;
  flex-direction: row;
  padding: 2rem 0 2rem 0;
}

.left-panel {
  display: flex;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  width: 20%;
  height: 100%;
}
.left-panel img {
  border-radius: 50%;
}

.left-panel__existing {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  width: 20%;
  min-width: 3.125rem;
}
.left-panel__existing img {
  border-radius: 100%;
}
@media screen and (min-width: 768px) {
  .left-panel__existing {
    min-width: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .left-panel__existing {
    min-width: 7.5rem;
  }
}

.right-panel {
  background-color: #fafafa;
  border-color: #e1e1e1;
  border-radius: 0.25rem;
  border-width: 0.063rem;
  padding-left: 0.2rem;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .right-panel {
    height: 3rem;
    padding: 1rem;
  }
}

.right-panel__existing {
  padding-left: 0.5rem;
  width: 100%;
  word-break: break-word;
}

.user-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}

.main-section__footer {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
}

.main-section__footer h2 {
  padding: 1rem 0 1rem 0;
}

@media screen and (min-width: 768px) {
  .main-section__footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-section__artists {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main-section__artist-description {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .main-section__artist-description {
    width: 66%;
  }
}

.main-section__artist-info {
  font-weight: bold;
}

.main-section__copyright p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.main-section--padding {
  padding: 1rem 0 0 0;
}

.logo__footer {
  padding: 4rem 0 0 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
@media screen and (min-width: 768px) {
  .icons {
    justify-content: space-evenly;
  }
}

hr {
  border: 0;
  border-top: 2px solid #e1e1e1;
}/*# sourceMappingURL=bio.css.map */