@use "./partials/media-query" as *;
@use "./partials/colors" as *;

.page-header__style {
  color: $primary-color-white;
  text-decoration: none;
  opacity: 1;
  position: absolute;
  z-index: 100;
  margin-left: 1rem;
  @include tablet {
    color: $primary-color-white;
    text-decoration: none;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 100;
    margin-left: 2.25rem;
    @include desktop {
      margin-left: 5rem;
    }
  }
}

.section-header__padding {
  padding: 2rem 0 0.75rem 0;
  @include tablet {
    padding: 1rem 0 1rem 0;
  }
}

.section-header--black {
  color: $primary-color-black;
}

.section {
  background-color: $primary-color-black;
}

.section__navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-black;
  list-style-type: none;
  color: $primary-color-white;
  padding: 1rem 0 1rem 0;
  @include tablet {
    flex-direction: row;
    height: 5rem;
    padding-left: 2.25rem;
  }
  @include desktop {
    padding-left: 5rem;
    width: 66%;
  }
}

.section__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0 0 0;
  @include tablet {
    width: 50%;
    padding: 0;
  }
}

.section__states {
  display: flex;
  align-items: center;
  height: 100%;
  color: $secondary-color-mercury;
}

.section__states:active {
  color: $primary-color-white;
  font-weight: bold;
  border-bottom: 0.313rem solid white;
}

.section__states:hover {
  border-bottom: 0.313rem solid white;
}

.section__hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  grid-gap: 1.5rem;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  padding: 0 0.5rem 0 0.5rem;
}

.section__hero h1 {
  @include tablet {
    color: $primary-color-white;
    text-decoration: none;
    opacity: 1;
    z-index: 100;
    //   margin-left: 1rem;
    // }
    // @include desktop {
    //   margin-left: 4.5rem;
  }
}

.section__hero img {
  width: 100%;
  opacity: 0.5;
}

.hero-album {
  padding-top: 1rem;
}

.hero-heading {
  padding: 1rem 5rem 1rem 0;
  @include tablet {
    padding: 1rem 3rem 3rem 0;
  }
  @include desktop {
    width: 50%;
  }
}

.heading-container {
  @include desktop {
    display: flex;
  }
}
.soundcloud-container {
  width: 92%;
  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 30%;
  }
}

.main-section {
  padding: 0 1.5rem 1rem 1.5rem;
  @include tablet {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
  @include desktop {
    padding: 3rem 5rem 2.25rem 5rem;
  }
}

// Shows
.main-section__shows {
  @include desktop {
    display: flex;
  }
}

.shows {
  width: 100%;
  word-wrap: break-word;
  @include tablet {
    border-collapse: collapse;
    padding: 1rem 0 1rem 0;
  }
  @include desktop {
    padding: 1rem 0 1rem 10rem;
  }
}

.show-info-container {
  @include tablet {
    display: flex;
    justify-content: space-between;
    margin: 1.3rem 0 1rem 0;
    @include desktop {
      margin: 1.3rem 0 1rem 0;
    }
  }
}

.show-date {
  font-weight: bold;
  padding-top: 1rem;
}

// header for tablet & desktop
.header-container {
  display: none;
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 68.5%;
  }
  @include desktop {
    width: 66%;
  }
}

.header-date,
.header-venue,
.header-location {
  color: $primary-color-silver;
  padding-top: 1rem;
}

// header for mobile
.show-header-date,
.show-header-venue,
.show-header-location {
  color: $primary-color-silver;
  padding-top: 1rem;
  @include tablet {
    display: none;
  }
}

.show-date,
.show-venue,
.show-location {
  padding-top: 0.5rem;
}

.show-location {
  padding-bottom: 1rem;
  @include tablet {
    padding-bottom: 0;
  }
}

// tickets button
.show-button-tickets {
  background-color: $primary-color-black;
  color: $primary-color-white;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  min-height: 2.5rem;
  @include tablet {
    width: 20%;
  }
  @include desktop {
    min-height: 3.125rem;
  }
}

.divider {
  height: 0.063rem;
  color: $secondary-color-mercury;
}

//footer
.main-section__footer {
  background-color: $primary-color-black;
  color: $primary-color-white;
  width: 100%;
}

.main-section__footer h2 {
  padding-bottom: 0.5rem;
}

.main-section__footer-container {
  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.main-section__artists {
  @include tablet {
    width: 100%;
  }
}

.main-section__artist-description {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  @include desktop {
    width: 66%;
  }
}

.main-section__artist-info {
  font-weight: bold;
}

.main-section__copyright p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.main-section--padding {
  padding: 1rem 0 0 0;
}

.logo__footer {
  padding: 4rem 0 0 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  @include tablet {
    justify-content: space-evenly;
  }
}
